
{% load static %}

<table width="590" cellpadding="0" cellspacing="0" border="0" style="font-family:helvetica,arial;">
  <tbody>
    <tr>
      <td>
        <center>
          <img alt="Elaine & Roger" src="{% static 'themes/default/img/casamento_lan_roger_1.jpg' %}" style="display:block" width="320" tabindex="0">
        </center>
      </td>      
    </tr>
    <tr>
      <td style="padding:0 35px 30px 35px;">
        <h1 style="font-size:26px;font-weight:normal;color:#4d4d4d">
          <span style="color:#4d4d4d">Oi primos, primas, amigos e amigas,<br/></span>
        </h1>

        <h2 style="font-size:20px; font-weight:normal;">
          <span style="color:#5C5555">

Queriamos compartilhar com vocês que no dia 04/07/2015, nós nos casamos aqui em São José dos Campos, cidade onde estamos morando a pouco mais de um ano.<br/><br/>

Gostaríamos muito de tê-los aqui conosco, mas optamos por uma cerimônia simples e para poucos convidados, apenas familiares mais próximos. Vocês certamente fizeram muita falta neste dia tão especial e não foram de forma alguma esquecidos. Primos que crescemos juntos, amigos queridos que compartilharam outros tantos momentos felizes, momentos estes que somos sinceramente muito gratos!<br/><br/>

Queriamos dizer que nossa casa esta aberta para quando quiserem nos visitar, será um imenso prazer recebê-los para um almoço, aquele cafézinho da tarde ou um final de semana aqui pelas bandas do Vale do Paraíba!<br/>

          </span>
        </h2>

      </td>
    </tr>      
    </tbody>
</table>
<table width="590" cellpadding="0" cellspacing="0" border="0" style="font-family:helvetica,arial;">
  <tbody style="font-size:16px;font-weight:normal;">
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #EDEAEA; font-family:helvetica,arial;padding: 20px 0 20px 0;">
          <tbody align="center" style="font-size:14px;font-weight:normal;line-height: 18px;color:#272525;">
            <tr>
              <td><strong>Elaine & Roger</strong></td>
            </tr>  
            <tr>
              <td>04 - Jul - 2015</td>
            </tr>
            <tr>
              <td><a href="http://laneroger.na-inter.net/">http://laneroger.na-inter.net/</a></td>
            </tr>
          </tbody>
        </table>        
      </td>      
    </tr>
  </tbody>
</table>
