{% extends 'core/base_core.html' %}

{% load static %}

{% block content %}

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        
      	<h1 style="font-size: 56px;"> Hi {{ to }},</h1>        	
      	<figure>
          <img src="{% static 'themes/default/img/save-the-date.png' %}" style="width: 100%!important;height: auto!important;">
        </figure>
      	
      </div>

    </div>
  </div>
</section>
  

{% endblock %}

{% block footer_bottom %}
{% endblock footer_bottom %}